#main {
    background-color: var(--lm-bg-very-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#main > section {
    padding: 40px 15px;
}

#search-filter {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#countries {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 660px) {
    #countries {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (min-width: 1000px) {
    #countries {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    #countries {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}